html,body {
	width:100vw;
	height:100vh;
	overflow:hidden;
	padding: 0;
  	margin: 0;
}
body {
	font-size:1.0em;
	padding-top:50px;
}
.unicode {
  font-family: Cambria;
}
.emoji {
  font-family: Segoe UI Emoji;
}
.symbol {
  font-family: Segoe UI Symbol;
} 
.w-40 {
	width:40%!important;
}
.w-30 {
    width:30%!important;
}
.h-60 {
	height:60%!important;
}
.h-30 {
    height:30%!important;
}

#menu-bar {
    position: absolute;
    z-index: 999;
    height: 50px;
    top: 0;
}
#inputSpatialFormatBtn {
	width:175px;
}
.tabContainer {
	overflow:auto;
}
.tabContainer::-webkit-scrollbar {
    width: 14px
}
.tabContainer::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .05);
    border: 1px solid #cacaca;
}
.tabContainer::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #343a40;
}
#geojsonDisplayContainer {
    font-size: 1.0rem;
    height: calc(100% - 1em);
}

#geojsonDisplayContainer .string, 
#geojsonDisplayContainer .key {
    color:#ac4142;
}

#geojsonDisplayContainer pre {
    padding: 2.5px;
    margin: 5px;
    white-space: pre-wrap;
}

#geojsonDisplayContainer .number,
#geojsonDisplayContainer .boolean,
#geojsonDisplayContainer .null {
    color:#aa759f;
}

#mapPropsDatatable th {
    white-space: pre;
}
div.leaflet-popup-content div.table-responsive-sm {
    max-height: 200px;
    overflow: auto;
}
div.leaflet-popup-content div.table-responsive-sm::-webkit-scrollbar {
    width: 14px
}
div.leaflet-popup-content div.table-responsive-sm::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .05);
    border: 1px solid #cacaca;
}
div.leaflet-popup-content div.table-responsive-sm::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #cccccc;
}
div.leaflet-popup-content div.table-responsive-sm tr:nth-child(even) {
    background: #f7f7f7;
}

button.function-btn {
	width: 34px;
    height: 34px;
    font-kerning: none;
    font-size: larger;
    text-align: center;
    -webkit-text-stroke: thin;
    border-width: unset;
}

path.input-feature[fill='none'] {
    fill-opacity: 0.0;
    stroke: #dc3b3b;
}
path.input-feature:not([fill='none']) {
    fill-opacity: 0.45;
}
/*img.input-feature:hover {
    -webkit-box-shadow: 0px 0px 25px 25px rgba(97, 99, 102, 0.65);
	-moz-box-shadow:    0px 0px 25px 25px rgba(97, 99, 102, 0.65);
	box-shadow:         0px 0px 25px 25px rgba(97, 99, 102, 0.65);
}*/
/*path.input-feature:hover {
    filter: drop-shadow(25px 0 25px 0 rgba(97, 99, 102, 0.65));
}
.input-feature:hover {
	cursor:pointer;
}*/
#menu-bar a {
	color: #91c3d7;
	-webkit-tap-highlight-color: rgba(109, 191, 222, 0.75);
}
#menu-bar a:hover {
	color: rgba(109, 191, 222, 0.75);
}
.leaflet-control-attribution.leaflet-control {
	right:5px;
	bottom:5px;
}
.command.leaflet-control {
    opacity:0.85;
    font-size:12px;
}
.table-condensed td, 
.table-condensed th {
    border: 1px solid #dee2e6;
    padding: 0.15rem 0.25rem;
}
#map-bounds {
    min-width:200px;
}
.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
    border-radius: 5px;
}
.tab-content {
    height: calc(100% - 40px);
}
td.table-placeholder {
    vertical-align: middle;
}
.tabSymbol {
    vertical-align: sub;
}
span.symbolInfo.bg-info {
    padding: 0.35em calc(0.45em + 1px);
}
span.symbolInfo.bg-danger {
   padding:0.35em calc(0.35em + 3.5px);
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.no-pointer-events {
  pointer-events: none;
}